[Desktop Entry]
Encoding=UTF-8
Name=CC
Comment=CC P2P Cryptocurrency
Comment[fr]=CC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CC, eşten eşe kriptografik sanal para birimi
Exec=cc-qt %u
Terminal=false
Type=Application
Icon=cc128
MimeType=x-scheme-handler/cc;
Categories=Office;Finance;
